<a href="https://colab.research.google.com/github/dote7ant/Moringa_W4/blob/master/ip_W4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Moringa Data Science Prep Independent Project: Week 4**

In this week's independent project, you will be working as a data scientist working for an electric car-sharing service company. You have been tasked to process stations data to understand electric car usage over time by solving for the following research question;

Research Question

Identify the most popular hour of the day for picking up a shared electric car (Bluecar) in the city of Paris over the month of April 2018.

Bonus Questions (Optional)

What is the most popular hour for returning cars?
What station is the most popular?
Overall?
At the most popular picking hour?
What postal code is the most popular for picking up Blue cars? Does the most popular station belong to that postal code?
Overall?
At the most popular picking hour?
Do the results change if you consider Utilib and Utilib 1.4 instead of Blue cars?

**Datasets provided**

---


You can get the data and the dataset description for this Independent project here [http://bit.ly/autolib_dataset (Links to an external site.)] and here respectively [https://drive.google.com/a/moringaschool.com/file/d/13DXF2CFWQLeYxxHFekng8HJnH_jtbfpN/view?usp=sharing(Links to an external site.)].  The dataset contains data collected for a period of 9 days. The dataset may take a bit of some time to load [~ 10 minutes].

**1. Importing our Libraries**

In [0]:
# pandas
import pandas as pd

# numpy
import numpy as np

**2. Load our dataset**

In [106]:
# get url
url = "http://bit.ly/autolib_dataset"

# load using csv
df = pd.read_csv(url)
df.head()

                              Address  Cars  Bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23

[5 rows x 25 columns]

**3. Preview our dataset**

In [3]:
# lets preview the first 10 rows of our dataset
df.head(10)

                              Address  Cars  Bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23
5                8 Boulevard Voltaire     0                0  ...    6     7       2
6                      37 rue Leblanc     0                0  ...    8    18      20
7         17 Rue des Luaps ProlongÃ©e     3                3  ...    4    22      13
8               34 avenue Jean Moulin     1                1  ...    2    22      58
9        41 boulevard de Rochechouart     6                6  ...    4    15       2

[10 rows x 25 columns]

**4. Accessing information about our dataset**

In [4]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              5000 non-null   object
 1   Cars                 5000 non-null   int64
 2   Bluecar counter      5000 non-null   int64
 3   Utilib counter       5000 non-null   int64
 4   Utilib 1.4 counter   5000 non-null   int64
 5   Charge Slots         5000 non-null   int64
 6   Charging Status      5000 non-null   object
 7   City                 5000 non-null   object
 8   Displayed comment    111 non-null    object
 9   ID                   5000 non-null   object
 10  Kind                 5000 non-null   object
 11  Geo point            5000 non-null   object
 12  Postal code          5000 non-null   int64
 13  Public name          5000 non-null   object
 14  Rental status        5000 non-null   object
 15  Scheduled at         47 non-null     object
 16  Slots                5000 non-null   int64
 17  Station type         5000 non-null   object
 18  Status               5000 non-null   object
 19  Subscription status  5000 non-null   object
 20  year                 5000 non-null   int64
 21  month                5000 non-null   int64
 22  day                  5000 non-null   int64
 23  hour                 5000 non-null   int64
 24  minute               5000 non-null   int64
dtypes: int64(12), object(13)
memory usage: 976.7+ KB
None

We notice that some of the data types have wrong dtypes which we get to know from looking at the description document https://drive.google.com/a/moringaschool.com/file/d/13DXF2CFWQLeYxxHFekng8HJnH_jtbfpN/view?usp=sharing.

In [6]:
# check shape of the dataset
df.shape

(5000, 25)

## **5. Cleaning our dataset**

Let us perform data cleaning procedures below providing a documentation for our actions and reasons. We will perform as many data cleaning procedures as we think suitable for the various dimensions of data.

***5.1 Validity***

In [0]:
# from the description document we note that cars is always redundant to the column bluecar counter thus we can drop it
df.drop(['Cars'], axis = 1, inplace = True)

In [108]:
df.columns

Index(['Address', 'Bluecar counter', 'Utilib counter', 'Utilib 1.4 counter',
       'Charge Slots', 'Charging Status', 'City', 'Displayed comment', 'ID',
       'Kind', 'Geo point', 'Postal code', 'Public name', 'Rental status',
       'Scheduled at', 'Slots', 'Station type', 'Status',
       'Subscription status', 'year', 'month', 'day', 'hour', 'minute'],
      dtype='object')

***5.2 Accuracy***

In [0]:
# we don't check for this since we have no way of knowing whether the data provided is accurate or not 
# and we have no access to external information

***5.3 Completness***

In [10]:
# check for null values
df.isnull().sum()

Address                   0
Bluecar counter           0
Utilib counter            0
Utilib 1.4 counter        0
Charge Slots              0
Charging Status           0
City                      0
Displayed comment      4889
ID                        0
Kind                      0
Geo point                 0
Postal code               0
Public name               0
Rental status             0
Scheduled at           4953
Slots                     0
Station type              0
Status                    0
Subscription status       0
year                      0
month                     0
day                       0
hour                      0
minute                    0
dtype: int64

Since the *'Displayed comment'* and *'Scheduled at'* columns have so much missing data we drop the two columns.

In [109]:
# Displayed comment column
df.drop('Displayed comment', axis = 1, inplace = True)
# Scheduled at 
df.drop('Scheduled at', axis = 1, inplace = True)
df.columns

Index(['Address', 'Bluecar counter', 'Utilib counter', 'Utilib 1.4 counter',
       'Charge Slots', 'Charging Status', 'City', 'ID', 'Kind', 'Geo point',
       'Postal code', 'Public name', 'Rental status', 'Slots', 'Station type',
       'Status', 'Subscription status', 'year', 'month', 'day', 'hour',
       'minute'],
      dtype='object')

In [110]:
# we then check for any more missing data
print(df.isnull().sum())

Address                0
Bluecar counter        0
Utilib counter         0
Utilib 1.4 counter     0
Charge Slots           0
Charging Status        0
City                   0
ID                     0
Kind                   0
Geo point              0
Postal code            0
Public name            0
Rental status          0
Slots                  0
Station type           0
Status                 0
Subscription status    0
year                   0
month                  0
day                    0
hour                   0
minute                 0
dtype: int64

In [111]:
# here we want year, month, day, hour and minute to be in the same column 
df['Date'] = pd.to_datetime(df[['year', 'month', 'day', 'hour', 'minute']])
df.columns

Index(['Address', 'Bluecar counter', 'Utilib counter', 'Utilib 1.4 counter',
       'Charge Slots', 'Charging Status', 'City', 'ID', 'Kind', 'Geo point',
       'Postal code', 'Public name', 'Rental status', 'Slots', 'Station type',
       'Status', 'Subscription status', 'year', 'month', 'day', 'hour',
       'minute', 'Date'],
      dtype='object')

In [112]:
# here we want hour and minute to be in the same column so we split it from Date column
# extracting date from timestamp
df['time'] = pd.to_datetime(df['Date'])
df['dates'] = df['time'].dt.date
df['times'] = df['time'].dt.time
df.head(1)

               Address  Bluecar counter  ...       dates     times
0  2 Avenue de Suffren                0  ...  2018-04-08  11:43:00

[1 rows x 26 columns]

In [113]:
df.drop(['year', 'month', 'day', 'hour', 'minute', 'time'], axis = 1, inplace = True)
df.columns

Index(['Address', 'Bluecar counter', 'Utilib counter', 'Utilib 1.4 counter',
       'Charge Slots', 'Charging Status', 'City', 'ID', 'Kind', 'Geo point',
       'Postal code', 'Public name', 'Rental status', 'Slots', 'Station type',
       'Status', 'Subscription status', 'Date', 'dates', 'times'],
      dtype='object')

In [53]:
df.head(1)

               Address  Bluecar counter  ...       dates     times
0  2 Avenue de Suffren                0  ...  2018-04-08  11:43:00

[1 rows x 19 columns]

In [114]:
# check for any null values
df.isnull().sum()

Address                0
Bluecar counter        0
Utilib counter         0
Utilib 1.4 counter     0
Charge Slots           0
Charging Status        0
City                   0
ID                     0
Kind                   0
Geo point              0
Postal code            0
Public name            0
Rental status          0
Slots                  0
Station type           0
Status                 0
Subscription status    0
Date                   0
dates                  0
times                  0
dtype: int64

In [116]:
# rename our columns
Columns = ['Address', 'Bluecar_Count', 'Utilib_Count', 'Utilib1.4_Count', 'Charge Slots', 'Charging Status', 'City', 'Station_ID', 'Kind', 'Geo_coord', 'Postal_Code', 'Public Name', 'Rental Status', 'Slots', 'Station Type', 'Status', 'Subscription', 'Datetime', 'Date', 'Time' ]
df.columns = Columns
df.columns

Index(['Address', 'Bluecar_Count', 'Utilib_Count', 'Utilib1.4_Count',
       'Charge Slots', 'Charging Status', 'City', 'Station_ID', 'Kind',
       'Geo_coord', 'Postal_Code', 'Public Name', 'Rental Status', 'Slots',
       'Station Type', 'Status', 'Subscription', 'Datetime', 'Date', 'Time'],
      dtype='object')

***5.4 Consistency***

In [0]:
# Fixing inconsistency is not always possible: it requires a variety of strategies - e.g.,
# deciding which data were recorded more recently, which data source is likely to be most reliable
# (the latter knowledge may be specific to a given organization), or simply trying to find the truth by 
# testing both data items (e.g., calling up the customer). in this case its not possible

***5.5 Uniformity***

In [117]:
# this is where we make sure that the data types correspond to the description document 

# checking data types
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Address          5000 non-null   object
 1   Bluecar_Count    5000 non-null   int64
 2   Utilib_Count     5000 non-null   int64
 3   Utilib1.4_Count  5000 non-null   int64
 4   Charge Slots     5000 non-null   int64
 5   Charging Status  5000 non-null   object
 6   City             5000 non-null   object
 7   Station_ID       5000 non-null   object
 8   Kind             5000 non-null   object
 9   Geo_coord        5000 non-null   object
 10  Postal_Code      5000 non-null   int64
 11  Public Name      5000 non-null   object
 12  Rental Status    5000 non-null   object
 13  Slots            5000 non-null   int64
 14  Station Type     5000 non-null   object
 15  Status           5000 non-null   object
 16  Subscription     5000 non-null   object
 17  Datetime         5000 non-null   datetime64[ns]
 18  Date             5000 non-null   object
 19  Time             5000 non-null   object
dtypes: datetime64[ns](1), int64(6), object(13)
memory usage: 781.4+ KB

Date and Time columns need to be converted to datetime

In [118]:
# convert Date column to datetime
df['Date'] = pd.to_datetime(df['Date'])
# convert Time column to datetime
#df['Time'] = (df['Time'].apply(pd.Timestamp))
df['Time'] =  pd.to_datetime(df['Time'], format='%H:%M:%S').dt.time
# inspect the Dtype column to confirm changes
df.dtypes

Address                    object
Bluecar_Count               int64
Utilib_Count                int64
Utilib1.4_Count             int64
Charge Slots                int64
Charging Status            object
City                       object
Station_ID                 object
Kind                       object
Geo_coord                  object
Postal_Code                 int64
Public Name                object
Rental Status              object
Slots                       int64
Station Type               object
Status                     object
Subscription               object
Datetime           datetime64[ns]
Date               datetime64[ns]
Time                       object
dtype: object

# **6. Data Analysis**

In [147]:
# Identify the most popular hour of the day for picking up a shared electric car (Bluecar)
# in the city of Paris over the month of April 2018.

# set a variable to just bluecar
a = df['Bluecar_Count']
# set a variable to rental status
b = df['Rental Status']
c = df['City'] == 'Paris'
#df.groupby(['Bluecar_Count', 'Time']).size()

df.groupby(['Time', 'Bluecar_Count', c])['Time'].count().sort_values(ascending = False)

# the most popular hour of the day is at 1600 hours

Time      Bluecar_Count  City
16:31:00  0              True     6
08:11:00  0              True     6
03:45:00  0              True     5
13:13:00  0              False    5
21:09:00  0              True     5
                                 ..
15:18:00  0              True     1
15:17:00  6              False    1
          4              False    1
          3              True     1
00:00:00  0              True     1
Name: Time, Length: 4243, dtype: int64

In [144]:
# What station is the most popular?
df.groupby(['Station_ID', 'City'])['Station_ID'].count().sort_values(ascending = False)

# the most popular station is paris-portedemontrouge-8 overall

Station_ID                        City
paris-portedemontrouge-8          Paris                   13
paris-grenelle31-parking          Paris                   11
paris-courcelles-69               Paris                   11
sevres-wolfenbuttel-1             SÃ¨vres                 11
paris-mathis-35                   Paris                   11
                                                          ..
meudon-jeannebraconnier-3         Meudon-la-ForÃªt         1
boulognebillancourt-gallieni-114  Boulogne-Billancourt     1
saintmande-daumesnil-11           Saint-MandÃ©             1
malakoff-pierrebrossolette-192    Malakoff                 1
yerres-raymondpoincare-200        Yerres                   1
Name: Station_ID, Length: 1105, dtype: int64

In [148]:
# What station is the most popular? most popular hour
a = df['Time'] == '16:00:00'
df.groupby(['Station_ID', a])['Station_ID'].count().sort_values(ascending=False)

# there are no stations popular at most popular hour

Station_ID                        Time
paris-portedemontrouge-8          False    13
paris-grenelle31-parking          False    11
paris-courcelles-69               False    11
sevres-wolfenbuttel-1             False    11
paris-mathis-35                   False    11
                                           ..
meudon-jeannebraconnier-3         False     1
boulognebillancourt-gallieni-114  False     1
saintmande-daumesnil-11           False     1
malakoff-pierrebrossolette-192    False     1
yerres-raymondpoincare-200        False     1
Name: Station_ID, Length: 1105, dtype: int64

**It is important to note that there is no specific time that describes whether a vehicle is being returned or picked.**

---

# **Answer**

We identify the most popular hour of the day for picking up a shared electric car (Bluecar) in the city of Paris over the month of April 2018 as 1600 hours